.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.wrapper {
  width: 400px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

form > h1 {
  font-size: 29px;
  font-weight: 500;
  line-height: 21px;
  margin-bottom: 30px;
}

form > input {
  width: 75%;
  padding: 10px 20px;
  margin-bottom: 20px;
  border: 1px solid #60a5fa;
  border-radius: 5px;
  font-size: 16px;
  line-height: 16px;
}

form > input:focus {
  outline: none;
  border: 1px solid #2563eb;
  background-color: #eff6ff;
}

.terms {
  display: flex;
  align-items: center;
  justify-content: center;
}

.terms > label {
  margin-left: 5px;
}

form > button {
  width: 85%;
  background-color: #2563eb;
  color: white;
  font-size: 16px;
  line-height: 16px;
  padding: 10px 20px;
  border: 1px solid #1e3a8a;
  border-radius: 5px;
  cursor: pointer;
  height: 40px;
  margin: 20px 0;
}

form > button:hover {
  background-color: #1e40af;
  border: 1px solid #1e3a8a;
}

a {
  color: #3b82f6;
  text-decoration: none;
}
a:hover {
  color: #2563eb;
  text-decoration: underline;
}

.forgot-password {
  margin-left: 30px;
  display: flex;
  text-align: left;
}

p {
  margin: 0;
}

button:disabled {
  cursor: not-allowed;
  color: #1e293b;
  background-color: #f8fafc;
  border: 1px solid #1e293b;
}
button:disabled:hover {
  color: #1e293b;
  background-color: #f8fafc;
}
